# ===============================
# Terraform
# ===============================

# Folder provider / binary
.terraform/

# Lock provider (disarankan DI-COMMIT untuk tim)
# .terraform.lock.hcl

# State files (jangan commit)
*.tfstate
*.tfstate.*
terraform.tfstate*

# Lock file saat apply
*.terraform.tfstate.lock.info

# Variable rahasia
*.tfvars
*.tfvars.json

# Crash / logs
*.log
crash.log

# ===============================
# Secrets / Credentials
# ===============================
.env
.env.*
*.pem
*.key
*.pfx
*.json

# ===============================
# Editor / IDE
# ===============================
.vscode/
.idea/

# ===============================
# Temporary Files
# ===============================
temp/
*/temp/
*.tmp
*.bak

# ===============================
# OS Files
# ===============================
Thumbs.db
desktop.ini
.DS_Store
.local.settings.json