# Folder binary dan modul Terraform
.terraform/

# File gembok provider (Opsional, tapi biasanya di-ignore jika ingin ganti-ganti versi)
# .terraform.lock.hcl 

# File status Terraform (SANGAT PENTING: Jangan pernah di-commit)
*.tfstate
*.tfstate.*
terraform.tfstate*

# File gembok status saat sedang running
*.terraform.tfstate.lock.info

# File variabel rahasia (SANGAT PENTING: Karena isinya password)
*.tfvars
*.tfvars.json

# File log atau backup
*.log
crash.log